@font-face {
    font-family: 'Bubble';
    src: url('/static/fonts/Bubble.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ThrowUp';
    src: url('/static/fonts/ThrowUpBlue.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}